@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Home Page"];
}

<div class="row">
    @Localizer["This is the Homepage of the Website, for more Information see About."]
</div>
